body {
    background-color: #000;
}

input, select, button {
    transition: all 0.3s ease;
    border-radius: 0px; /* Estética terminal */
}

input:focus, select:focus {
    outline: none;
    border-color: #00ff88 !important;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.2);
}

button:hover {
    background: #00cc6e !important;
    transform: scale(1.02);
}

/* Ocultar flechas en inputs de número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

